/* GLobal */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

body {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #ccd6f6;
}

.textLeft {
  text-align: left;
}

.textStrong {
  font-weight: 700;
}

.m0 {
  margin: 0;
}

.mt {
  margin-top: 40px;
}

.cursor {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  border-radius: 50%;
  opacity: 0.8;
  pointer-events: none;
  left: -25px;
  top: -25px;
  width: 50px;
  height: 50px;
}

body.no-cursor {
  cursor: none!important;
}

/* Header */

.header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 2rem;
}

.navBar {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  background-color: #0e213d;
  z-index: 1000;
  border-bottom: 2px solid #1a1a1a;
}

/* Transition main */

.hidden {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.visible {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.aboutMe {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  height: 100vh;
  padding: 0px;
}

.aboutMe-title {
  color: #64ffda !important;
}

.aboutMe-name {
  padding-top: 15px;
  font-size: 75px;
}

.aboutMe-sub {
  color: #8892b0;
  margin-top: 15px;
  font-size: 45px;
}

.aboutMe-description {
  margin: 20px 0px 0px;
  max-width: 540px;
  font-size: 18px;
}

.aboutMe {
  max-width: 1000px !important;
  margin: 0 auto !important;
  padding: 0 1rem;
}

@media (max-width: 1000px) {
  .aboutMe-content {
    margin-top: 140px;
  }
}

/* Bar info */

@media (max-width: 768px) {
  .barraInfoR {
    display: none;
  }
  .barraInfoL {
    display: none;
  }
}

.barraInfoR {
  width: 40px;
  position: fixed;
  bottom: 0px;
  z-index: 10;
  color: #a8b2d1;
  left: auto;
  right: 40px;
}

.barraInfoL {
  width: 40px;
  position: fixed;
  bottom: 0px;
  z-index: 10;
  color: #a8b2d1;
  left: 40px;
  right: auto;
}

.barraInfo-L {
  left: 40px;
  right: auto;
  margin-left: 40px !important;
}

.barraInfo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.barraInfo-content p {
  margin: 20px auto;
  padding: 10px;
  font-size: 12px;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
}

.barraInfo-content::after {
  content: "";
  display: block;
  width: 1px;
  margin-top: 20px!important;
  height: 90px;
  margin: 0px auto;
  background-color: #a8b2d1;
}

.barraInfo-logos {
  color: #ccd6f6;
  font-size: 22px;
  margin-top: 22px;
  transition: 0.2s ease-in-out;
}

.barraInfo-logos:hover {
  color: #64ffda;
  transform: translateY(-4px);
}

.barraInfo-content-email:hover {
  color: #64ffda;
}

.barraInfo-content-email {
  margin: 0!important;
}

.button-follow {
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.buttonFollowMouse i{
  color: #ccd6f6;

}

.buttonFollowMouseEnable i{
  color: #64ffda;
}

/* About Me Main */

.aboutMeMain-title {
  color: #64ffda !important;
  margin-top: 80px;
}

.abmtt {
  margin: 0 auto;
  max-width: 900px;
  gap: 20px;
}

.aboutMeMain-title-hr hr {
  margin-top: 10px;
  min-width: 100px;
}

.aboutMeMain-titleSpan {
  color: #ccd6f6;
}

.aboutMeMain-content {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.aboutMeMain-text {
  max-width: 500px;
  margin-right: 2rem;
  flex: 0 0 auto;
  width: 66.66666%;
  margin-left: 60px;
}

.aboutMeMain-text p {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #8892b0;
}

.aboutMeMain-text p a {
  text-decoration: none;
  color: #64ffda;
}

.aboutMeMain-img {
  flex: 0 0 auto;
  width: 33.33333%;
  margin-left: 2rem;
  text-align: center;
}

.aboutMeMain-img img {
  max-width: 300px;
  object-fit: cover;
  filter: grayscale(100%) contrast(1);
  transition: 0.2s ease-in-out;
}

.aboutMeMain-img img:hover {
  filter: grayscale(0) contrast(1);
}

@media (max-width: 950px) {
  .aboutMeMain-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aboutMeMain-text {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .aboutMeMain-img {
    max-width: 100%;
    margin-left: 0;
  }

  hr {
    display: none;
  }

  .aboutMeMain-img img {
    filter: grayscale(0) contrast(1);
  }
}

/* Projects */ 


.ProjectsMain {
  padding: 120px 0;
  margin: 0 auto;
  max-width: 1000px;

}

.numberHeading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-align: center;
  margin: 10px 0px 40px;
  white-space: nowrap;
  margin-left: 60px;
}

.numberHeading::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 250px;
  height: 1px;
  margin-left: 20px;
  background-color: #233554;
}

@media (max-width: 1080px) {
  .numberHeading::after {
    width: 200px;
  }
}
.numberHeading::before {
  position: relative;
  bottom: 4px;
  counter-increment: section 2;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: #64ffda;
}

.numberHeading2 {
  counter-increment: section 1!important;
  content: "0" counter(section) ".";
}

.numberHeading3 {
  counter-increment: section 2!important;
  content: "0" counter(section) ".";
}


/** SKILLS **/

.skills {
  padding: 120px 0;
}

.skills-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1400px;
  text-align: center;
}

@media (max-width: 700px) {
  .skills-content-item {
    flex: 0 0 auto;
    width: 99.99%!important;
  }
}

.skills-content-item {
  flex: 0 0 auto;
  width: 40.99%;
}

.skills-content-item img {
  max-width: 200px;
  height: auto;
  filter: grayscale(100%) contrast(1);
  transition: 0.2s ease-in-out;
}

.skills-content-item img:hover {
  filter: grayscale(0) contrast(1);
  transform: scale(1.1);
  cursor: pointer;
}

/* MODAL */

.modal-header {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  gap: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccd6f6;
}

.modal-title{
  font-size: 22px;
  color: #ccd6f6!important;
}

.modal-content-element-skill i {
  font-size: 100px;
  transition: 0.3s ease-in-out;
}

.modal-content-element-skill p {
  transition: 0.3s ease-in-out;
}

.modal-content-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (min-width: 700px) {
  .modal-content-skill {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }

  .modal-content-element-skill {
    flex: 0 0 auto;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-content-element-skill p {
    margin-top: 20px;
    text-align: center;
  }

  .modal-content-element-skill i:hover {
    color: #64ffda;
  }

  .modal-content-element-skill i:hover + p {
    color: #64ffda;
  }
}

.btn-close {
  padding: 10px;
  transition: .3s ease-in-out;
}

.btn-close:hover {
  color: #64ffda;
  cursor: pointer;
  transform: scale(1.4);
}

.modal-closing {
  animation: fadeOut 0.5s ease;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* Contact */

.contact {
  padding: 120px 0;
}

.contact-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1400px;
  text-align: center;
  gap: 20px;
}

.titleContact {
  width: 100%;
  font-size: 38px;
}

.contact-text {
  flex: 0 0 auto;
  width: 60.99%;
  font-size: 18px;
}

.contact-linkedin-github {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 100px;
  font-size: 80px;
}

.contact-linkedin-github a {
  color: #ccd6f6;
  transition: 0.3s ease-in-out;
}

.contact-linkedin-github a:hover {
  color: #64ffda;
}

.contact-gmail p{
  font-size: 25px;
}

